In [2]:
import pandas as pd

df = pd.read_excel('data/score.xlsx',index_col = '지원번호')

In [ ]:
df
df['키']    # >> columns
df[['이름','키']]
df[df.columns[2:5]]
df.columns

df[1:5] # >> rows
df.loc['1번']
df.loc[['1번','3번']]
df.loc['1번':'5번']
df.loc['1번':'3번'][['키','SW특기']]
df.loc['1번':'3번','키':'수학']
df.iloc[0:3]
df.iloc[[1,3,5]]
df.iloc[[0,4]][['키','수학']]
df.iloc[0:3,3:6]
# iloc - integer location / loc - location



## 조건식:  df[ (조건) ]
filt = df['키'] >= 190
df[filt]

#  and  & / or | / not ~
filt2 = df['국어'] >=90
df[filt & filt2]
df[filt | filt2]
df[~filt]

# str함수
filt3 = df['이름'].str.contains('순')   # '순'이 포함된 항목
df[filt3]
filt4 = df['이름'].str.endswith('순')   # '순'으로 끝나는 항목
df[filt4]
filt5 = df['이름'].str.startswith('홍')
df[filt5]

# isin() 함수 >> str함수 아님
arr = ['python','java']
filt6 = df['SW특기'].str.lower().isin(arr)
df[filt6]

# java가 포함된 모든 항목
filt7 = df['SW특기'].str.lower().str.contains('java')
# df[filt7]
# contains >> NaN 데이터 처리를 해야 함
filt8 = df['SW특기'].str.lower().str.contains('java',na=True)   # na > True: NaN 데이터 포함해서 검색 / False: 검색 안 됨
df[filt8]

       이름   학교    키  국어  영어  수학  과학  사회        SW특기
지원번호
2번    유관순  가산고  184  40  35  50  55  25        Java
3번    이순신  가산고  168  80  75  70  80  75  Javascript
4번    강감찬  가산고  187  40  60  70  75  80         NaN
5번     김구  가산고  188  15  20  10  35  10         NaN