In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('data/score.xlsx',index_col='지원번호')

In [ ]:
# '홍' 포함된 이름 삭제 후 출력
df.drop(index=df[df['이름'].str.contains('홍')].index)


# 합계를 구하고 400점 미만 삭제
# df['합계'] = df['과학'] + df['국어'] + df['사회'] + df['수학'] + df['영어']
df.drop(index=df[df['합계']<400].index)

# 합계, 결과 컬럼 추가
# df['결과'] = '불합격'

# 400점 이상 합격, 400점 미만 불합격
# df.loc[df['합계']>=400,'결과'] = '합격'

# 컬럼 순서 변경 >> 이름,결과,합계,키 ... 순
col = list(df.columns)
df.columns = [col[0]] + [col[-1]] + [col[-2]] + col[1:-2]

In [ ]:
## 필터링한 테이블을 다른 변수에 저장해서 다시 필터링할 수 있음

# 홍 삭제된 테이블 출력 - 다른 방식
filt = df['이름'].str.contains('홍')
df[~filt]

       이름    결과   합계  학교    키  국어  영어  수학          과학   사회 SW특기
지원번호
2번    유관순   가산고  184  40   35  50  55  25        Java  205  불합격
3번    이순신   가산고  168  80   75  70  80  75  Javascript  380  불합격
4번    강감찬   가산고  187  40   60  70  75  80         NaN  325  불합격
5번     김구   가산고  188  15   20  10  35  10         NaN   90  불합격
6번    김유신  디지털고  202  80  100  95  85  80           C  440   합격

In [14]:
df

       이름    결과   합계   학교    키   국어  영어  수학          과학   사회 SW특기
지원번호
1번    홍길동   가산고  197   90   85  100  95  85      Python  455   합격
2번    유관순   가산고  184   40   35   50  55  25        Java  205  불합격
3번    이순신   가산고  168   80   75   70  80  75  Javascript  380  불합격
4번    강감찬   가산고  187   40   60   70  75  80         NaN  325  불합격
5번     김구   가산고  188   15   20   10  35  10         NaN   90  불합격
6번    김유신  디지털고  202   80  100   95  85  80           C  440   합격
7번    홍길자  디지털고  188   55   65   45  40  35      PYTHON  240  불합격
8번    홍길순  디지털고  190  100   85   90  95  95          C#  465   합격