In [55]:
import pandas as pd
import numpy as np
import random

In [6]:
df = pd.read_excel('data/score.xlsx',index_col='지원번호')

In [7]:
# int타입에 cm문자 추가
# df['키'] = df['키'].astype(str) + 'cm'

# 함수 사용해서 추가
def add_cm(height):
    return str(height) + 'cm'

# add_cm(df['키'])    # >> 이거 아님...

df['키'] = df['키'].apply(add_cm)

In [8]:
df['합계'] = df['과학'] + df['국어'] + df['사회'] + df['수학'] + df['영어']
df['등급'] = 'F'
df['평균'] = df['합계'] / 5


# 함수를 사용해서 90점 이상 합격, 90점 미만 불합격
df['결과'] = ''
def passornot(avg):
    if avg>=90:
        return '합격'
    else:
        return '불합격'
    
df['결과'] = df['평균'].apply(passornot)



# 90점 이상 A, 80점 이상 B, C,D,F

def grade(avg):
    if avg>=90:
        return 'A'
    elif avg>=80:
        return 'B'
    elif avg>=70:
        return 'C'
    elif avg>=60:
        return 'D'
    else:
        return 'F'
    
df['등급'] = df['평균'].apply(grade)

In [12]:
# SW특기의 글자를 모두 소문자로 변경

df['SW특기'] = df['SW특기'].str.lower()
df['SW특기'].str.capitalize()

지원번호
1번        Python
2번          Java
3번    Javascript
4번           NaN
5번           NaN
6번             C
7번        Python
8번            C#
Name: SW특기, dtype: object

In [ ]:
# java라는 문자가 포함된 항목 출력

df.loc[df['SW특기'].str.contains('java',na=False)]

       이름   학교      키  국어  영어  수학  과학  사회        SW특기   합계 등급    평균   결과
지원번호
2번    유관순  가산고  184cm  40  35  50  55  25        java  205  F  41.0  불합격
3번    이순신  가산고  168cm  80  75  70  80  75  javascript  380  C  76.0  불합격

In [ ]:
# 함수를 사용해서 SW특기를 전부 대문자로 변경하고, NaN 데이터는 C를 입력


## isna() >> pandas함수 // isnull(),notnull() >> pandas 함수 ??
def fillSW(x):
    if pd.isna(x):
        return 'C'
    else:
        return x.upper()
        
df['SW특기'] = df['SW특기'].apply(fillSW)

In [ ]:
pd.isna()
pd.isnull
pd.notnull

In [42]:
## 문자열 슬라이싱
df['학교'].str.slice(0,-1)

# df['키'] = df['키'].astype(str) + 'cm'
# df['키'] = df['키'].str.replace('cmcm','cm')
# df['학교'] = df['학교'] + '등학교'

df['학교'].str.slice(0,-3)
df['키'].str.slice(0,-2)

지원번호
1번    197
2번    184
3번    168
4번    187
5번    188
6번    202
7번    188
8번    190
Name: 키, dtype: object

In [ ]:
# zfill: 자릿수만큼 빈 공간을 0으로 채움 (문자열만 가능, 숫자타입 X)
df['이름'].str.zfill(width=4)
df['국어'].astype(str).str.zfill(width=3)

지원번호
1번    090
2번    040
3번    080
4번    040
5번    015
6번    080
7번    055
8번    100
Name: 국어, dtype: object

In [47]:
df['요일'] = [0,1,2,3,4,5,3,6]

In [96]:
# df['요일'] = 0

for i in range(8):
    df.iloc[i,13] = random.randint(0,6)


# 함수를 사용해서 요일에 0:일요일, 1:월요일 ... 할당

def days(x):
    if x==0: return '일요일'
    elif x==1: return '월요일'
    elif x==2: return '화요일'
    elif x==3: return '수요일'
    elif x==4: return '목요일'
    elif x==5: return '금요일'
    elif x==6: return '토요일'
    
df['요일'] = df['요일'].apply(days)
df

,이름,학교,키,국어,영어,수학,과학,사회,SW특기,합계,등급,평균,결과,요일
지원번호,,,,,,,,,,,,,,
1번,홍길동,가산고등학교,197cm,90,85,100,95,85,PYTHON,455,A,91.0,합격,화요일
2번,유관순,가산고등학교,184cm,40,35,50,55,25,JAVA,205,F,41.0,불합격,일요일
3번,이순신,가산고등학교,168cm,80,75,70,80,75,JAVASCRIPT,380,C,76.0,불합격,목요일
4번,강감찬,가산고등학교,187cm,40,60,70,75,80,C,325,D,65.0,불합격,월요일
5번,김구,가산고등학교,188cm,15,20,10,35,10,C,90,F,18.0,불합격,일요일
6번,김유신,디지털고등학교,202cm,80,100,95,85,80,C,440,B,88.0,불합격,월요일
7번,홍길자,디지털고등학교,188cm,55,65,45,40,35,PYTHON,240,F,48.0,불합격,월요일
8번,홍길순,디지털고등학교,190cm,100,85,90,95,95,C#,465,A,93.0,합격,금요일

In [91]:
df['SW특기']
df

,이름,학교,키,국어,영어,수학,과학,사회,SW특기,합계,등급,평균,결과,요일
지원번호,,,,,,,,,,,,,,
1번,홍길동,가산고등학교,197cm,90,85,100,95,85,PYTHON,455,A,91.0,합격,월요일
2번,유관순,가산고등학교,184cm,40,35,50,55,25,JAVA,205,F,41.0,불합격,토요일
3번,이순신,가산고등학교,168cm,80,75,70,80,75,JAVASCRIPT,380,C,76.0,불합격,일요일
4번,강감찬,가산고등학교,187cm,40,60,70,75,80,C,325,D,65.0,불합격,토요일
5번,김구,가산고등학교,188cm,15,20,10,35,10,C,90,F,18.0,불합격,토요일
6번,김유신,디지털고등학교,202cm,80,100,95,85,80,C,440,B,88.0,불합격,목요일
7번,홍길자,디지털고등학교,188cm,55,65,45,40,35,PYTHON,240,F,48.0,불합격,토요일
8번,홍길순,디지털고등학교,190cm,100,85,90,95,95,C#,465,A,93.0,합격,금요일